.fieldset {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.field {
  width: 100%;
  height: 32px;
  font-size: 16px;
  padding: 0 8px;
  border-radius: 8px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  outline: none;
}
.checkContainer {
  display: flex;
  gap: 8px;
  background: #ffffff5a;
  padding: 4px 8px;
  border-radius: 8px;
}
.field::placeholder {
  font-size: 16px;
}
.field:focus {
  outline: 1px solid teal;
}
label {
  font-size: 16px;
}
@media screen and (min-width: 568px) {
  .fieldset {
    width: 100%;
  }
  .field {
    font-size: 18px;
  }
  label {
    font-size: 18px;
  }
}
