.stats {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  gap: 10px;
  background-color: #ffffff9c;
  border-radius: 4px;

  margin-top: -18px;
  flex-grow: 2;

  padding: 8px 12px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.list {
  text-transform: capitalize;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  gap: 15px;
  list-style: none;
  font-size: 18px;
  font-weight: 500;
  padding: 0;
}

.list > li > span {
  font-size: 20;
  color: teal;
}
@media screen and (min-width: 340px) {
  .stats {
    flex-direction: row;
  }
  .list {
  }
}
